USE [BienThanhPhong_5951071073]
GO
/****** Object:  Table [dbo].[StudentsTb]    Script Date: 3/19/2021 8:26:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsTb](
	[StudentsID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[FatherName] [varchar](50) NULL,
	[RollNumber] [varchar](50) NULL,
	[ADDRESS] [varchar](50) NULL,
	[Mobile] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentsTb] ON 

INSERT [dbo].[StudentsTb] ([StudentsID], [Name], [FatherName], [RollNumber], [ADDRESS], [Mobile]) VALUES (3, N'Thanh', N'Phong', N'5951071073', N'py', N'0339993446')
INSERT [dbo].[StudentsTb] ([StudentsID], [Name], [FatherName], [RollNumber], [ADDRESS], [Mobile]) VALUES (4, N'Thanh', N'Phong', N'5951071073', N'py', N'0339993446')
INSERT [dbo].[StudentsTb] ([StudentsID], [Name], [FatherName], [RollNumber], [ADDRESS], [Mobile]) VALUES (5, N'Thanh', N'Phong', N'5951071073', N'py', N'0339993446')
SET IDENTITY_INSERT [dbo].[StudentsTb] OFF
GO
